.comments-filter-list {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  animation: slideIn 0.8s forwards;
}

.comments-filter-list li {
  border-bottom: 1px solid rgb(241, 235, 249);
}

.comments-filter-list li:last-child {
  border-bottom: none;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/*Feedback card*/
/*.cards-container {
  border: 1px solid blue;
}*/

.comments-container {
  /*border: 1px solid blue;*/
}