.select-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 90%;
}

select {
  outline: none;
  border: none;
  width: 100%;
  height: 50px;
  background-color: #f7f8fd;
  border-radius: 5px;
  padding-left: 1em;
  margin-top: 1em;
  padding-right: 1em;
  
}

.select-list-btn {
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}