.navbar-wrapper {
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    rgb(232, 77, 112) 0%,
    rgb(163, 55, 246) 53.09%,
    rgb(40, 167, 237) 100%
  );
  padding: 1em 1.5em;
  color: white;
}

/*Navbar*/
.navbar-container {
  position: relative;
  z-index: 88888;
}

.nav-menu {
  background-color: #f7f8fd;
  position: absolute; 
  right: 0;
  padding-left: 1.5em;
  padding-right: 1.3em;
  padding-top: 0.7em;
  height: 100vh;
  animation: slideIn 0.6s ease forwards; 
  max-width: 300px;
}

/* Define keyframes for the slide-in animation */
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -88888;
}

.categories, .roadmap {
  max-width: 250px;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.active {
  background-color: #4661E6;
  color: white;
}