@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}

.navbar-container {
  position: relative;
}

.nav-menu {
  background-color: #f7f8fd;
  position: absolute; 
  right: 0;
  padding-left: 1.5em;
  padding-right: 1.3em;
  padding-top: 0.7em;
  height: 100vh;
  animation: slideIn 0.6s ease forwards; 
  max-width: 300px;
}

/* Define keyframes for the slide-in animation */
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.openedMenu {
  background-color: rgba(0, 0, 0, 0.1);
}

.categories {
  max-width: 250px;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
